<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deadlion.com.pdaclient" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:theme="@style/DarkTheme" >
        <activity android:name=".controller.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.SettingActivity" />
        <activity android:name=".controller.activity.SettingPostActivity" />
        <activity android:name=".controller.activity.FullPostActivity" />
    </application>

</manifest>
